@tailwind base;
@tailwind components;
@tailwind utilities;

/* Change the color of the dots */
.slick-dots li button:before {
  color: #fff;
  opacity: 0.75; /* Optional: Add some opacity */
}

/* Make the active dot more visible */
.slick-dots li.slick-active button:before {
  color: #fff; /* White color for active dot */
  opacity: 1; /* Fully visible */
}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #081949;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}
.slick-track {
  height: 600px;
}
